:root {
  --body-color: var(--color-slate-700);
  --link-color: var(--color-blue-500);
  --label-color: var(--color-slate-500);
  --label-color-hover: var(--color-blue-500);
  --label-size: var(--font-sm);
  --label-size-tiny: var(--font-xs);
  --value-size: var(--font-sm);
  --border-color: var(--color-slate-200);
  --border-color-hover: var(--color-blue-500);
  --input-bg-color: var(--color-slate-100);
  --input-bg-color-hover: var(--color-slate-200);
  --mode-bg-color: var(--color-slate-400);
  --focus-ring-color: var(--color-blue-200);
  --focus-ring: 0 0 0 3px var(--focus-ring-color);
  --scrollbar-width: 1rem;
}

.PageWrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: var(--body-color);
  padding: 4rem 1rem;
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .PageWrapper {
    padding: 5rem 2rem;
  }
}

@media (min-width: 1024px) {
  .PageWrapper {
    padding: 5rem 5rem;
  }
}

.PageWrapper p {
  max-width: 50em;
}

.PageWrapper p a {
  color: var(--link-color);
}

.PageWrapper p a:hover {
  text-decoration: underline;
}

.PageWrapper strong {
  font-weight: bold;
}

.PageWrapper h1 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
}

.PageWrapper h2 {
  font-size: 1.2rem;
  line-height: 1;
  margin-bottom: 1rem;
  font-weight: 600;
}

.PageWrapper summary {
  cursor: pointer;
  appearance: none;
  display: block;
  border-radius: var(--radius-md);
  font-size: var(--label-size);
}

.PageWrapper ::-webkit-details-marker {
  display: none;
}

.PageWrapper summary:hover {
  background: var(--input-bg-color-hover);
}

.PageWrapper summary:focus-visible {
  outline: none;
  box-shadow: var(--focus-ring);
}

.PageWrapper details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.PreviewDatasetToggle {
  display: inline;
  align-self: start;
  justify-self: start;
  padding-left: 0.75rem;
  position: relative;
}

.PreviewDatasetToggle::before {
  content: "âµ ";
  position: absolute;
  left: 0;
  transition: 200ms transform;
}

details[open] > .PreviewDatasetToggle::before {
  transform: rotateZ(90deg);
}

.BuilderWrapper {
  display: flex;
  flex-direction: column;
  flex: none;
  border: 1px solid var(--border-color);
  border-left: none;
  border-right: none;
  padding: 2rem 0;
  gap: 2rem;
}

.PreviewPane {
  flex: auto;
  align-self: stretch;
  height: 32rem;
  overflow-x: auto;
}

.PreviewPane > div {
  min-width: 600px;
}

@media (min-width: 700px) {
  .BuilderWrapper {
    display: flex;
    flex-direction: row;
    height: 32rem;
    gap: 0;
  }

  .PreviewPane {
    height: auto;
  }

  .PreviewPane > div {
    min-width: 400px;
  }
}

.DemoInput {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.DatasetPickerWrapper {
  align-self: start;
}

.DatasetPickerLabel {
  color: var(--color-slate-500);
  font-weight: bold;
  font-size: var(--font-xs);
  text-transform: uppercase;
}

.OutputCode {
  color: var(--color-slate-800);
  background-color: var(--color-slate-100);
  font-size: var(--font-xs);
  padding: 1rem;
  border-radius: var(--radius-lg);
  white-space: pre;
  display: block;
}

.DemoPicker {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 640px) {
  .DemoPicker {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .DemoPicker {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.DemoPicker li {
  display: flex;
  justify-content: stretch;
  border: 1px solid var(--border-color);
  border-radius: var(--radius-lg);
}

.DemoPicker li[data-checked=true] {
  border-color: var(--border-color-hover);
  background: var(--input-bg-color);
}

.DemoPicker li:has(:focus-visible) {
  border-color: var(--border-color-hover);
  box-shadow: var(--focus-ring);
}

.DemoPicker li:hover {
  background: var(--input-bg-color);
}

.DemoPicker li[data-checked=true]:hover {
  background: var(--input-bg-color-hover);
}

.DemoPicker label {
  flex: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-contents: center;
  padding: 1rem;
}

.DemoPicker h3 {
  font-weight: bold;
}

.DemoWrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.Note {
  font-style: italic;
  color: var(--label-color);
  font-size: var(--font-sm);
}

.DemoInfo {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.DemoOutput {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.DemoOutput h2 {
  margin: 0;
}
