:root {
  --value-size: var(--font-sm);
  --body-color: var(--color-slate-700);
  --link-color: var(--color-blue-500);
  --label-color: var(--color-slate-500);
  --label-color-hover: var(--color-blue-500);
  --label-size: var(--font-sm);
  --label-size-tiny: var(--font-xs);
  --border-color: var(--color-slate-200);
  --border-color-hover: var(--color-blue-500);
  --input-bg-color: var(--color-slate-100);
  --input-bg-color-hover: var(--color-slate-200);
  --mode-bg-color: var(--color-slate-400);
  --focus-ring-color: var(--color-blue-200);
  --focus-ring: 0 0 0 3px var(--focus-ring-color);
  --scrollbar-width: 1rem;
}

.PageWrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: var(--body-color);
}

.PageWrapper p a {
  color: var(--link-color);
}

.PageWrapper p a:hover {
  text-decoration: underline;
}

.PageWrapper h1 {
  font-size: 2rem;
  line-height: 2;
  font-weight: 700;
}

.PageWrapper h2 {
  font-size: 1.2rem;
  line-height: 1;
  margin-bottom: 1rem;
  font-weight: 600;
}

.PageWrapper summary {
  cursor: pointer;
  border-radius: var(--radius-md);
  font-size: var(--label-size);
}

.PageWrapper summary:hover {
  background: var(--input-bg-color-hover);
}

.PageWrapper summary:focus {
  outline: none;
  box-shadow: var(--focus-ring);
}

.PageWrapper details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.BuilderWrapper {
  display: flex;
  flex-direction: row;
  flex: none;
  height: 500px;
  border: 1px solid var(--border-color);
  border-left: none;
  border-right: none;
  padding: 2rem 0;
}

.PreviewPane {
  flex: auto;
  align-self: stretch;
}

.DemoInput {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.DatasetPickerWrapper {
  align-self: start;
  min-width: 300px;
}

.DatasetPickerLabel {
  color: var(--color-slate-500);
  font-weight: bold;
  font-size: var(--font-xs);
  text-transform: uppercase;
}

.OutputCode {
  color: var(--color-slate-800);
  background-color: var(--color-slate-100);
  font-size: var(--font-sm);
  padding: 1rem;
  border-radius: var(--radius-lg);
  white-space: pre;
  display: block;
}

.DemoPicker {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: stretch;
  gap: 1rem;
}

.DemoPicker li {
  display: flex;
  justify-content: stretch;
  border: 1px solid var(--border-color);
  border-radius: var(--radius-lg);
}

.DemoPicker li[data-checked=true] {
  border-color: var(--border-color-hover);
  background: var(--input-bg-color);
}

.DemoPicker li:has(:focus) {
  border-color: var(--border-color-hover);
  box-shadow: var(--focus-ring);
}

.DemoPicker li:hover {
  background: var(--input-bg-color);
}

.DemoPicker li[data-checked=true]:hover {
  background: var(--input-bg-color-hover);
}

.DemoPicker label {
  flex: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-contents: center;
  padding: 1rem;
}

.DemoPicker h3 {
  font-weight: bold;
}

.DemoWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Note {
  font-style: italic;
  color: var(--label-color);
}

.DemoInfo {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
