@import "./reset.css";

:root {
  /* Font sizes */
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2.25rem;
  --font-5xl: 3rem;
  --font-6xl: 3.75rem;

  /* Radius */
  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.375rem;
  --radius-xl: 0.5rem;
  --radius-2xl: 0.75rem;
  --radius-3xl: 1rem;
  --radius-4xl: 1.5rem;
  --radius-full: 9999px;

  /* Full colors palette (raw) */
  --raw-color-black: 0 0 0;
  --raw-color-white: 255 255 255;
  --raw-color-slate-50: 248 250 252;
  --raw-color-slate-100: 241 245 249;
  --raw-color-slate-200: 226 232 240;
  --raw-color-slate-300: 203 213 225;
  --raw-color-slate-400: 148 163 184;
  --raw-color-slate-500: 100 116 139;
  --raw-color-slate-600: 71 85 105;
  --raw-color-slate-700: 51 65 85;
  --raw-color-slate-800: 30 41 59;
  --raw-color-slate-900: 15 23 42;
  --raw-color-slate-950: 2 6 23;
  --raw-color-blue-50: 239 246 255;
  --raw-color-blue-100: 219 234 254;
  --raw-color-blue-200: 191 219 254;
  --raw-color-blue-300: 147 197 253;
  --raw-color-blue-400: 96 165 250;
  --raw-color-blue-500: 59 130 246;
  --raw-color-blue-600: 37 99 235;
  --raw-color-blue-700: 29 78 216;
  --raw-color-blue-800: 30 64 175;
  --raw-color-blue-900: 30 58 138;
  --raw-color-blue-950: 23 37 84;

  /* Full colors palette (ready to use) */
  --color-black: rgb(var(--raw-color-black));
  --color-white: rgb(var(--raw-color-white));
  --color-slate-50: rgb(var(--raw-color-slate-50));
  --color-slate-100: rgb(var(--raw-color-slate-100));
  --color-slate-200: rgb(var(--raw-color-slate-200));
  --color-slate-300: rgb(var(--raw-color-slate-300));
  --color-slate-400: rgb(var(--raw-color-slate-400));
  --color-slate-500: rgb(var(--raw-color-slate-500));
  --color-slate-600: rgb(var(--raw-color-slate-600));
  --color-slate-700: rgb(var(--raw-color-slate-700));
  --color-slate-800: rgb(var(--raw-color-slate-800));
  --color-slate-900: rgb(var(--raw-color-slate-900));
  --color-slate-950: rgb(var(--raw-color-slate-950));
  --color-blue-50: rgb(var(--raw-color-blue-50));
  --color-blue-100: rgb(var(--raw-color-blue-100));
  --color-blue-200: rgb(var(--raw-color-blue-200));
  --color-blue-300: rgb(var(--raw-color-blue-300));
  --color-blue-400: rgb(var(--raw-color-blue-400));
  --color-blue-500: rgb(var(--raw-color-blue-500));
  --color-blue-600: rgb(var(--raw-color-blue-600));
  --color-blue-700: rgb(var(--raw-color-blue-700));
  --color-blue-800: rgb(var(--raw-color-blue-800));
  --color-blue-900: rgb(var(--raw-color-blue-900));
  --color-blue-950: rgb(var(--raw-color-blue-950));
}

#root {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1280px;
}
