.MintakaContainer {
  display: flex;
  flex-direction: column;
  flex: none;
  padding: 0.25rem;
}

@media (min-width: 700px) {
  .MintakaContainer {
    width: 300px;
  }
}

.LayerBuilder {
  display: flex;
  flex-direction: column;
  flex: auto;
  padding-bottom: 2rem;
  padding-right: var(--scrollbar-width);
  scrollbar-width: var(--scrollbar-width);
  overflow-y: auto;
  overflow-y: overlay;
}

.EncodingContainer {
  display: flex;
  flex-direction: column;
}

.MegaToolbar,
.ButtonToolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 0.25rem;
  z-index: 10;
  box-shadow: 0 0 1rem 0.5rem var(--color-white);
  padding-right: var(--scrollbar-width);
}

.ViewModeToolbar {
  display: flex;
  flex-direction: row;
  z-index: 10;
  box-shadow: 0 0 0.5rem 0.5rem var(--color-white);
  padding-right: var(--scrollbar-width);
  padding-bottom: 1rem;
}

.LayerButtons button,
.ResetButton {
  padding: 0.125rem 0.5rem;
  font-size: var(--label-size);
  color: var(--label-color);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-md);
  user-select: none;
}

.LayerButtons button:hover,
.ResetButton:hover,
.ResetButton:focus-visible,
.ModePickerLabel:hover,
.ModePickerSelectedLabel:hover {
  border-color: var(--border-color-hover);
  color: var(--label-color-hover);
}

.ResetButton:focus-visible {
  outline: none;
  box-shadow: var(--focus-ring);
}

.PresetsContainer {
  padding-bottom: 0.5rem;
  padding-right: var(--scrollbar-width);
}

.PresetsContainer .GenericContainerChildrenWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
}

.ModePicker {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
}

.ViewModeToolbar .ModePickerLabel,
.ViewModeToolbar .ModePickerSelectedLabel {
  flex: 1;
}

.ModePickerLabel,
.ModePickerSelectedLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--label-size-tiny);
  color: var(--label-color);
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-left-width: 0.5px;
  border-right-width: 0.5px;
  user-select: none;
  padding: 0.125rem 0.25rem;
}

.ModePickerLabel:first-child,
.ModePickerSelectedLabel:first-child {
  border-top-left-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
  border-left-width: 1px;
}

.ModePickerLabel:last-child,
.ModePickerSelectedLabel:last-child {
  border-top-right-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  border-right-width: 1px;
}

.ModePickerSelectedLabel {
  background-color: var(--mode-bg-color);
  border-color: var(--mode-bg-color);
  color: var(--color-white);
}

.ModePickerSelectedLabel:hover {
  background-color: var(--border-color-hover);
  border-color: var(--border-color-hover);
  color: var(--color-white);
}

.hidden {
  display: none;
}

.LayerManager {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  padding: 0.25rem 0 1rem 0;
}

.LayerManager .WidgetWrapperLabel {
  width: 33.333%;
}

.LayerButtons {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
}

.LayerButtons button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0.5px;
}

.LayerButtons button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0.5px;
}

.SelectBoxEl,
.MultiSelectEl,
.TextInputEl {
  appearance: none;
  padding: 0.125rem 0.5rem;
  flex: auto;
  border: 1px solid transparent;
  border-radius: var(--radius-md);
  color: var(--label-color);
  cursor: pointer;
  background-color: var(--input-bg-color);
  font-size: var(--value-size);
}

.SelectBoxEl,
.MultiSelectEl {
  user-select: none;
}

.SelectBox,
.MultiSelect {
  position: relative;
  display: flex;
}

.SelectBox::after,
.MultiSelect::after {
  content: "›";
  rotate: 90deg;
  position: absolute;
  color: var(--label-color);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0.5rem;
  transition: 200ms transform;
  pointer-events: none;
}

.SelectBoxEl:hover,
.MultiSelectEl:hover,
.TextInputEl:hover {
  background-color: var(--input-bg-color-hover);
}

.LayerButtons button:focus-visible,
.SelectBoxEl:focus-visible,
.MultiSelectEl:focus-visible,
.TextInputEl:focus-visible {
  border-color: var(--border-color-hover);
  outline: none;
  box-shadow: var(--focus-ring);
}

.MultiSelectAddSeries {
  font-size: var(--label-size-tiny);
  color: var(--label-color);
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 1.5rem;
  border-radius: var(--radius-md);
  padding-left: 0.25rem;
  user-select: none;
}

.MultiSelectAddSeries:hover {
  color: var(--label-color-hover);
  background-color: var(--input-bg-color);
}

.TextInputEl {
  cursor: unset;
  padding-left: 0.25rem;
}

.TextInputOverlayButton {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1.5rem;
  display: flex;
  align-items: center;
  opacity: 0.5;
  user-select: none;
}

.TextInputOverlayButton:hover {
  opacity: 1.0;
}

.ToggleLabel {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.ToggleElement {
  width: 1.75rem;
  height: 1rem;
  border: 1px solid transparent;
  background-color: var(--color-slate-200);
  border-radius: var(--radius-full);
}

.ToggleElement:hover {
  border-color: var(--color-blue-500);
  background-color: var(--color-blue-400);
}

.ToggleInput:focus-visible ~ .ToggleElement {
  outline: none;
  box-shadow: var(--focus-ring);
}

.ToggleInput:checked ~ .ToggleElement {
  background-color: var(--color-slate-400);
}

.ToggleElement::after {
  content: '';
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  background: white;
  border: 1px solid var(--color-slate-400);
  border-radius: var(--radius-full);
  height: 0.75rem;
  width: 0.75rem;
  transition: transform 150ms;
}

.ToggleInput:checked ~ .ToggleElement::after {
  transform: translateX(100%);
  border-color: white;
}

.WidgetWrapperLabel {
  grid-column: span 1 / span 1;
  display: flex;
  font-size: var(--label-size);
  color: var(--label-color);
  padding-left: 0.25rem;
  user-select: none;
}

.WidgetWrapperWidget {
  grid-column: span 2 / span 2;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0.25rem;
  min-height: 1.5rem;
  position: relative;
}

.GenericContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.GenericContainerMinimized {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  margin-top: -1px;
}

.LayerBuilder > .GenericContainerMinimized:first-child {
  margin-top: 0;
}

.GenericContainerMinimizable {
  /* Used for more complex selectors below */
}

.GenericContainerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
}

.GenericContainerMinimized .GenericContainerTitle {
  height: 1.25rem;
  align-items: stretch;
}

.GenericContainerLabel {
  flex: 1;
  font-size: var(--font-xs);
  font-weight: bold;
  color: var(--color-slate-500);
  padding-left: 0.25rem;
  user-select: none;
}

.GenericContainerMinimizable .GenericContainerLabel {
  cursor: pointer;
}

.GenericContainerMinimizable .GenericContainerLabel:hover {
  color: var(--label-color-hover);
  background-color: var(--input-bg-color);
  border-radius: var(--radius-md);
}

.GenericContainerMinimized .GenericContainerLabel {
  padding: 0 0.25rem;
  font-weight: normal;
}

.GenericContainerMinimized .GenericContainerLabel:hover {
  color: var(--label-color-hover);
}

.GenericContainerChildrenWrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.25rem;
  align-items: center;
}

.GenericContainerToolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0;
}

.GenericContainerDrawerButton {
  display: flex;
  align-items: center;
  width: 1rem;
  opacity: 0.5;
  border-radius: var(--radius-md);
  user-select: none;
}

.GenericContainerDrawerButton:hover {
  opacity: 1.0;
  background-color: var(--input-bg-color);
}
